.button {
  color: white;
  font-weight: bold;
  background-color: blueviolet;
  border: none;
  padding: 0.8em 1em;
  border-radius: 0.2rem;
}

button:focus {
  outline: 2px solid pink;
}

.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 16px;
  padding: 11px 20px;
}
.button--large {
  font-size: 18px;
  padding: 12px 24px;
}

.button--primary {
  color: white;
  background-color: #49dfdf;
  border-radius: 10px;
  border: 1px solid rgb(23, 113, 211);
}
.button--secondary {
  color: #333;
  background-color: #bf9ec0;;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
